/*CSS Styling*/
*{
	box-sizing: border-box;	
	margin: 0; padding: 0;
}

.nav ul{
	display: flex;
	list-style: none;
}

.nav ul li{
	padding: 20px 1px ;
	margin-right: 20px;
}

.nav ul a{
	font-size: 15px;
	font-family: "Helvetica", sans-serif;
	color: black;
	text-decoration: none;
}

.nav ul a:hover{
	text-decoration: underline;
}

.nav ul #gmail{
	margin-left: auto;
}

.nav button{
	padding: 5px 10px;
	margin-top: -5px;
	color: white;
	background-color: #4485F4;
	border:1px solid #4485F4;
	font-weight: bold;
	font-size: 14px;
	font-family: arial;
}

.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 79vh;
}

.main img{
	width: 300px;
	height: 100px;
}

.main #search{
	margin: 15px 0;
	height: 44px;
	width: 40%;
	box-shadow: 4px 4px 4px -4px black;
	transition: 0.1s;
	}

.main #search:hover{
	box-shadow: 1px 2px 4px black; 
}

.main .button button{
	padding: 10px;
	margin: 2px;
	background-color: #F2F2F2;
	border: 1px solid transparent;
	color: #757575;
	font-weight: bold;
}

.main .button button:hover{
	transition: 0.1s;
	border: 1px solid grey;
}

.language ul{
	list-style: none;
	display: flex;
}

.language ul li{
	padding: 20px 1px ;
	margin-right: 20px;
}

.language ul a{
	font-size: 15px;
	font-family: "Helvetica", sans-serif;
	color: black;
	text-decoration: none;
}

.language ul a:hover{
	text-decoration: underline;
}

.language ul :first-child a:hover{
	cursor: auto;
	text-decoration: none;
}

.footer{
	background-color: #F2F2F2;
	color: #757575;
	border-top: 1px solid #F2F2F2;
	position: absolute;
	bottom: 0px;
}

.footer #location{
	padding: 10px 30px;
	font-family: arial;
	font-size: 16px;
}

.footer hr{
	margin: 0 20px;
	background-color: #F2F2F2;
	height: 1px;
	border: none;
}

.footer ul{
	list-style: none;
	display: flex;
	padding: 10px 30px;
}

.footer ul li{
	margin-right: 20px;
	font-family: arial;
	font-size: 14px;
}

.footer ul a{
	color: #757575;
	text-decoration: none;
}

.footer ul a:hover{
	text-decoration: underline;
}

.footer ul #about{
	margin-right: auto;
}

.footer ul #privacy{
	margin-left: auto;
}